{% extends 'base.html' %}
{% load static %}


{% block stylesheets %}
<link rel="stylesheet" href="{% static 'styles.css' %}">
{% endblock stylesheets %}

{% block content %}

<div class="formpage-container">
    <h2 class="section-lead">Login</h2>

    <form method="post">
        {% csrf_token %}
        <fieldset class="form-group">
            {{ form.as_p }}
        </fieldset> 

        <div class="form-group">
            <button class="btn btn-success" type="submit">Login</button>
        </div>
        <hr class="mb-2">
            <p class="small text-center">
            <p>   This site is not protected by reCAPTCHA and is a demonstration website only.
            </p>
    </form>
</div>
  
<div class="form-bottom-note">
    <small class="text-muted">
        New to She-Codes-News? Create an account <a class="ml-2" href="{% url 'users:createAccount' %}">Register</a>
    </small>
</div>


    <div class="col-md-6 d-none d-md-flex bg-image">
    </div>
</div>

{% endblock %}