{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'customstyles.css' %}">
{% endblock stylesheets %}

{% block content %}

<div class ="formpage-container">
    <h2 class="section-lead">Create Account</h2>


    <form method="POST">
        
        <fieldset class="form-group">
            <legend class="border-bottom mb-4"> Please Sign Up to find out the Latest News with SheCodes! </legend>
            {% csrf_token %}
            {{ form.as_p }}
        </fieldset> 
        

        <div class="form-group">
            <button class="btn btn-primary" type="submit">Create Account</button>
        </div>
    </form>

    <div class="border-top pt-3">
        <small class="text-muted">
            Already have an Account? <a class="ml-2" href="{% url 'login' %}">Login</a>
        </small>
    </div>
    </div>
    {% endblock content %}