{% extends 'base.html' %}
{% load static %}


{% block stylesheets %}
<link rel="stylesheet" href="{% static 'users/styles.css' %}">
{% endblock stylesheets %}


{% block content %}

<div id="profile-container">
 
<!-- Profile Section -->

<div class="formpage-container">
    <h2 class="section-lead">Profile</h2>
    <section id="profile-section">

        <div class="profile-card">
            <div class="avatar-img">
                <img class='avatar-img' src='{{ user.avatar }}' alt="Profile Image"/>
            <div id="profile-text">
            <h2 class="lead">{{request.user.get_full_name}}</h2>
                </div>
            
                <p>UserName:</p><h4>{{user.username}}</h4><br>
                <p>email:</p><h4>{{user.email}}</h4><br>
                <p>bio:</p><h4>{{user.bio}}</h4><br>
        </div>
    </section>
                <div id="profile-function-buttons">
                    {% comment %} {% if user.is_authenticated and user == object %} {% endcomment %}
                    <a class="btn btn-secondary" href="{% url 'news:newsStory' %}">Write New Story</a>
                    <a class="btn btn-secondary" href="{% url 'users:userUpdate' %}">Udpate Profile</a>
                    <a class="btn btn-secondary" href="{% url 'logout' %}">Logout</a><br>
            </div>

    <section id="profile-news-container">
        <h2 class="section-lead">My Stories</h2>

        <div id="profile-latest-stories">

            {% comment %} {% if latest_stories %} {% endcomment %}
                {% for story in stories %}
                    {% include "news/storyCard.html" with story=story position=forloop.counter %}
                {% endfor %}
        </div>        
    </section>
</div>

{% endblock content %}
