{% extends 'base.html' %}
{% load static %}


{% block stylesheets %}
<link rel="stylesheet" href="{% static 'customstyles.css' %}">
{% endblock stylesheets %}


{% block content %}
<!-- profile Section -->

<div id="profile-container">
    <h2 class="section-lead">Profile</h2>
        <section id="profile-section">

            <div class="profile-card">
                <div class="avatar-img">
                    <img class='avatar-img' src='{{ user.avatar }}' alt="profile Image"/>
                    <div>
                <div id="profile-text">
                    <h2 class="lead">{{request.user.get_full_name}}</h2>
                    <p>UserName:</p><h4>{{user.username}}</h4>
                    <p>email:</p><h4>{{user.email}}</h4>

                    <p>bio:</p><h4>{{user.bio | linebreaks}}</h4><br>
                </div>
            </div>
        </section>
            <div id="profile-function-buttons">
                <a class="btn btn-primary" href="{% url 'news:newsStory' %}">Write New Story</a>
                <a class="btn btn-primary" href="{% url 'users:userUpdate' %}">Update profile</a>
                <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a><br>
       
            </div>

        {% comment %} <section id="profile-news-container">
            <h2 class="section-lead">My Stories</h2>

            <div id="all-stories">

                {% for story in stories %}
                    {% include "news/storyCard.html" with story=story position=forloop.counter %}
                {% endfor %}
            </div>         {% endcomment %}

<! ----- Author Story Section ----->
        
        <section id="profile-news-container">
            <h2 class="section-lead">My Stories</h2>

            <div id="profile-all-stories">
            {% for story in stories %}
                <div class="story-card" id="story-card-{{ position }}">
                  
                <a href="{% url 'news:story' story.slug %}">
                    <!---- Story Content ---->
                    <img src="{{ story.image }}" alt="{{ story.title }}">
                    
                        <div class="story-card-text">
                        <h3 class="story-card-headline">{{ story.title }}</h3>
                        <h4>{{ story.author }}</h4>
                        <p>{{ story.pub_date }} |
                            
                            
                            <p>{% for category in story.categories.all %}
                                <small><a class="text-primary" href="{% url 'news:categoryDetail' category.slug %}">{{ category }}</a></small>
                                {% endfor %}
                            </p>
                    
                </a>
            </div> 
            </div>  
            {% endfor %} 
        </section>        
           


{% endblock content %}
