<div class="frame">
    <div class="center">
      
          <div class="profile-card">
              <div class="image">
                  <div class="circle-1"></div>
                  <div class="circle-2"></div>
                <img src="../static/media/images/placeholder-default.jpg">
                {% else %}
                    <img src="https://picsum.photos/600">
                {% endif %}
                width="70" height="70" alt="User Name">
              </div>
              
              <div class="name">{{user:username}}</div>
              <div class="location">{{user:location}}</div>
              
              <div class="actions">
                  <button class="btn">Follow</button>
                  <button class="btn">Posts</button>
              </div>
          </div>
          
          <div class="stats">
              <div class="box">
                  <span class="value">102</span>
                  <span class="parameter">Posts</span>
              </div>
              <div class="box">
                  <span class="value">856</span>
                  <span class="parameter">Likes</span>
              </div>
              <div class="box">
                  <span class="value">12</span>
                  <span class="parameter">Follower</span>
              </div>
          </div>
    </div>
  </div>