{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
{% endblock %}

{% block content %}

<section class="container404">
	<div class="card404">
		<h1>404</h1>
        <h2>Page not found</h2>
        <a href="https://tutsplus.com">
            <img src="https://cdn.mos.cms.futurecdn.net/PuXipAW3AXUzUJ4uYyxPKC-1200-80.jpg" alt="404 Error Msg">
        </a>
        <p>Best head back to the home page and look elsewhere.</p>
        <a class="btn btn-primary" href="{% url 'news:index' %}">Back to Homepage</a>
</div>
</section>

{% endblock %}