<nav class="nav">
    <div class="banner-img"></div>

    <div class="nav-menu flex-row">
        <div class="nav-brand">
            <a href="#" class="shecodes-nav-text">
                <span style="color: #fff">She</span>
                <span style="color: #FFA300">{Codes}</span>
                <span style="color: #fff">News</span>
            </a>
        </div>
            <ul class="nav-items">
                <li class="nav-link">
                    <a href="{% url 'news:index' %}">Home</a></li>
        
            {% if user.is_authenticated %}
                
                <li class="nav-link">
                    <a href="{% url 'users:user_Profile' %}">{{ user.username }} profile</a>
                </li>
                <li class="nav-link">
                    <a href="{% url 'logout' %}">Logout</a></br>
                </li>
            {% else %}
                <li class="nav-link">
                    <a href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-link">
                    <a href="{% url 'users:createAccount' %}">Register</a>
                </li>
            </ul>
        
        {% endif %}
        
        <div class="social">
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
        </div> 
    </div>    
    </div>
</nav>

