{% extends 'base.html' %}
{% load static %}



{% block stylesheets %}
<link rel="stylesheet" href="{% static 'styles.css' %}">

{% endblock stylesheets %}

{% block content %}

<div id="profile-container">
  <!-- Success Messages -->
  {% if messages %}
  <ul class="messages">
  {% for message in messages %}
      <li class="{{ message.tags }}">
        {% if message.tags %} {{ message }}{% endif %}
      </li>
  {% endfor %}
  </ul>
  {% endif %}
  <br>
<br>

<!-- Profile Section -->

{% endblock content%}