@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');

body {
    background-color: rgb(240, 239, 239);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000;
}

img {
    filter: grayscale(100%);
}

h1 {
    font-family: 'Montserrat Subrayada', sans-serif;
    text-decoration: none;
    font-size: 2rem;
    margin: 0;
}

h2 {
   font-family: 'Montserrat Subrayada', sans-serif; 
}

h3 {
    font-size: 2rem;
    margin: 0;
}

#header-text {
    flex-basis: 80%;
    display: flex;
}

nav {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

a {
    margin: 2px;
    text-decoration: none;
    color: #000;
}

a, p {
    font-family: monospace;
}

/* Header */
header {
    background:rgba(0, 0, 0, 0.5);
    background-position: center;
    height: 30vh;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-content: center;
    position: relative;
    padding: 0 10px;
    text-align: start;
    margin: auto;
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

header * {
    z-index: 10;
}

#header-container-top {
    display: flex;
    justify-content: space-evenly;
    align-items: right;
    height: 50%;
    margin: 0 50px;
}

#header-container-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.header-logo {
    height: 120px;
    width: 120px;
}

#header-text {
    display: inline-flex;
    align-items: right;
}

#page-heading {
    color: #ffffff;
    font-size: 5rem;
    margin-bottom: 2rem;
    max-width: 800px;
}

#page-subheading {
    color: #ffffff;
    font-size: 1.2rem;
    margin-bottom: 2.5rem;
    max-width: 600px;
}

/* Header-Navigation */
header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav a {
    color: #fff;
    margin: 0 10px;
    padding: 10px;
    border-bottom: 2px solid transparent;
}

nav a:hover {
    border-bottom: 2px solid #F9A526;
    color: #F9A526;
}

/* FORM PAGES */
.formpage-container {
    max-width: 900px;
    margin: auto;
    padding: 20px 20px 50px 20px;
}

form {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 30px 0 50px 0;
}

form p {
    display: flex;
    margin: 20px 0;
    flex-wrap: wrap;
}

.form-function-buttons {
    padding: 30px 0;
}

.form-image {
        min-height: 100vh;
    }

.form-bg-image {
    background-image: url('https://picsum.photos/id/1079/1080');
    background-size: cover;
    background-position: center center;
}

/* Profile Section */
.profile-container {
    max-width: 900px;
    margin: auto;
    padding: 20px 20px 50px 20px;
}

#profile-section {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 30px 0 50px 0;
}

#profile p {
    display: flex;
    margin: 20px 0;
    flex-wrap: wrap;
}

# #profile-text {
    margin-left: 50px;
}

#profile-function-buttons {
    display: flex; 
    justify-content: flex-end;
    padding-bottom: 50px;
}

#profile-function-buttons a {
    margin: 0 10px;
}

/* Images */
.profile-img {
    height: auto;
    width: 250px;
    object-fit: contain;
}
