@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;1,400;1,600&family=Tangerine&display=swap');

.image img{
	width: 100px;
}
.avatar-img img{
    max-width: 200px;
	border-radius:50px;
}

/* profile Section */

.profile-container {
    max-width: 900px;
    margin: auto;
    padding: 20px 20px 50px 20px;
}

#profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 30px 0 50px 0;
}

#profile-card {
    display: flex;
    padding: 20px 20px 20px;
    margin: 20px 0;
    border-color: #271177;
}

#profile p {
    display: flex;
    margin: 20px 0;
    flex-wrap: wrap;
}

#profile-text {
    font-family: 'Playfair Display', serif;
    margin-left: 50px;
}

#profile-function-buttons {
    display: flex; 
    justify-content: flex-end;
    padding-bottom: 50px;
}

#profile-function-buttons a {
    margin: 0 10px;
}

.profile-news-container{ 
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 50%;
	margin: 0 50px;
}

.profile-story-img{
    max-width:100%
}

#profile-latest-stories {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 30px 0 50px 0;
}

/* Images */
.image img {
    height: 250px;
    width: 250px;
    object-fit: contain;
}
	

