@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;1,400;1,600&family=Tangerine&display=swap');

.image img{
	width: 100px;
}
.avatar-img img{
    width: 150px;
	border-radius:50px;
}

	

