{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'customstyles.css' %}">
{% endblock %}

{% block content %}

<div id="category-news-container">
    <h2 class="section-lead">{{ category.name }} Category</h2>
    
        {% if category.stories.all %}
        <div id="category-stories">
        {% for story in category.stories.all %}
        <div class="Category-card" id="story-card-{{ position }}">
            <a href="{% url 'news:story' story.slug %}">
                <img src="{{ story.image }}" alt="{{ story.title }}">

                <div class="story-card-text">
                    <h2>{{ story.title }}</h3>
                    <h4>{{ story.pub_date }}</h4>
                <div id="story-text"
                {{ story.content|linebreaks }}</a>
        </div>
    </div>        
    {% endfor %}
{% else %}
    <p>There are no stories in this category yet.</p>
{% endif %}
</div>
{% endblock %}