{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">{% endblock stylesheets %}

{% block content %}

<div class="formpage-container">
    <h2 class="section-lead">Write a Story</h2>
    
    <form id="form-container" method="post" enctype="multipart/form-data">

        <fieldset class="form-group">
            <legend class="border-bottom mb-6"> Please Share your Latest Story with Us! </legend>
        {% csrf_token %}
        {{ form.as_p }}
        </fieldset> 

        <div class="form-group"></div>
        <button class="btn btn-success" type="submit">Post</button>
        </div>
        
        <div class="form-bottom-note">
            <small class="text-muted">
                Cancel & Return to Home Page! <a class="ml-2"  href="{% url 'news:index' %}">Cancel</a>
            </small>
        </div>
 
    </form>
</div>
{% endblock %}
