    {% extends "base.html" %}
    {% load static %}
    
    {% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
    {% endblock %}
    {% block content %}

<div id="home-container">
    <h2>She Codes News Project</h2>
    <p>My task - to find the Cutest...Yet ugliest animals in the World</p>
    <div id="index-function-buttons">
        {% if user.is_authenticated %}
        
        <h3>Welcome back, {{ user.first_name|default:user.username }}! <i class="fas fa-arrow-right"></i></h3>
        <a class="btn btn-secondary" href="{% url 'news:newsStory' %}">Write New Story</a>
        {% else %}
        <p>Welcome to the She Codes News! - Sign up or Login To Write a New Story<i class="fas fa-arrow-right"></i></p>
        <a class="btn btn-primary" href="{% url 'login' %}"> Write a New Story</a>
    {% endif %}
    </div>

<div id="latest-news-container">
    <h2 class="section-lead">Latest News</h2>
    <div id="latest-stories">
        {% if latest_stories %}
            {% for story in latest_stories %}
                {% include "./storyCard.html" with story=story position=forloop.counter %}
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
    </div>
</div>

<div id="all-news-container">
    <h2 class="section-lead">All News Stories</h2>
        {% if all_stories %}
            {% for story in all_stories %}
                {% include "./storyCard.html" with story=story %}
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
    </div>
</div>

    <a href="{% url 'news:newsStory' %}">Write New Story</a>

    {% endblock %}

