{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text.css" href="{% static 'news/styles.css' %}">
{% endblock %} 

{% block content %}

<div id="story-wrapper">
    <h2>{{ story.title }}</h2>
    <h4>{{ story.author }}</h4>
    <a href="{% url 'news:editStory' story.slug %}">Edit this Story</a> </br>
    <a href="{% url 'news:deleteStory' story.slug %}">Delete this Story</a>
    <div id="story-content">
        {% if story.image %}
        <img src="{{ story.image }}">
        {% else %}
        <img src="{% static '../static/news/images/placeholder-1.jpg' %}">
        {% endif %}
        {{ story.content|linebreaks }}
    </div>
</div>

{% endblock %} 
