{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text.css" href="{% static 'news/styles.css' %}">
{% endblock %} 

{% block content %}

<div id="story-wrapper">
    <div class="full-story"
    <h2>{{ story.title }}</h2>
    <h4>{{ story.author }}</h4>

{% if user.is_authenticated and user == story.author %}
    <div id="storypage-function-buttons">
    <a class="btn btn-primary" href="{% url 'news:editStory' story.slug %}">Edit this Story</a> </br>
    <a class="btn btn-primary"href="{% url 'news:deleteStory' story.slug %}">Delete this Story</a>
    </div>
{% endif %} 


<p>{% for category in story.categories.all %}
    <small><a class="text-primary" href="{% url 'news:categoryDetail' category.slug %}">{{ category }}</a></small>
    {% endfor %}
</p>

    <div id="story-content">
        <div id="story-image-box">
        {% if story.image %}
            <img src="{{ story.image }}">
        {% else %}
            <img src="{% static '../static/news/images/placeholder-1.jpg' %}">
        {% endif %}
        <div id="story-text">
        {{ story.content | linebreaks }}
        </div>
    </div>
</div>
{% endblock %} 
