<div class="story-card" id="story-card-{{ position }}">
    <a href="{% url 'news:story' story.id %}">
        {% if story.image %}
        <img src="{{ story.image }}">
        {% else %}
        <img src="../static/news/images/placeholder-1.jpg">
        {% endif %}
        <div class="story-card-text">
            <h3>{{ story.title }}</h3>
            <h4>{{ story.author }}</h4>
            <h4>{{ story.pub_date }}</h4>
            <a href="{% url 'news:editStory' story.slug %}">Edit this Story</a> </br>
            <a href="{% url 'news:deleteStory' story.slug %}">Delete this Story</a>
        </div>
    </a>
</div>
